{
    "builders": [{
      "type": "amazon-ebs",
      "source_ami_filter": {
        "filters": {
          "virtualization-type": "{{ event['source_ami_virt_type'] or 'hvm' }}",
          "name": "{{ event['source_ami_name'] or 'CentOS Linux 7 x86_64*'}}",
          "root-device-type": "{{ event['source_ami_root_device_type'] or 'ebs'}}"
        },
        "owners": ["{{ event['source_ami_owner'] or '679593333241' }}"],
        "most_recent": true
      },
      "instance_type": "{{ event['instance_type'] or 't2.micro' }}",
      "ssh_username": "{{ event['ssh_username'] or 'centos' }}",
      "subnet_id": "{{ event['subnet_id'] }}",
      "ami_name": "{{ event['ami_name'] }}-{{ '{{' }} timestamp {{ '}}' }}",
      {% if 'profile' in event %}
      "profile": "{{ event['profile'] }}",
      {% endif %}
      {% if 'security_group_id' in event %}
      "security_group_id": "{{ event['security_group_id'] }}",
      {% endif %}
      {% if 'ami_regions' in event %}
      "ami_regions": "{{ event['ami_regions'] }}",
      {% endif %}
      {% if 'ami_users' in event %}
      "ami_users": "{{ event['ami_users'] }}",
      {% endif %}
      "region": "{{ event['region'] }}"
    }]{% if 'provision_script_keys' in event %},
    "provisioners": [
      {% for provisioner in event['provision_script_keys'] %}
        {
          "type": "shell",
          "script": "{{download_dir}}/{{ provisioner }}"
        }{{ "," if not loop.last }}
      {% endfor %}
    ]
    {% endif %}
},
{
  "type": "shell",
  "inline": [

"sudo yum update -y",
"sudo yum install -y java-1.8.0-openjdk-devel",
"sudo useradd kafka -m",
"sudo mkdir /usr/local/kafka",
"sudo chown kafka:kafka -R /usr/local/kafka",
"sudo curl "https://www-eu.apache.org/dist/kafka/1.0.2/kafka_2.12-1.0.2.tgz" -o /tmp/kafka.tgz",
"sudo tar -xvzf /tmp/kafka.tgz --strip 1 --directory /usr/local/kafka",
"sudo cp /tmp/ami-builder/kafka-broker/zookeeper     /etc/init.d",
"sudo cp /tmp/ami-builder/kafka-broker/kafka         /etc/init.d",
"sudo cp /tmp/ami-builder/kafka-broker/zookeeper     /etc/rc.d/init.d",
"sudo cp /tmp/ami-builder/kafka-broker/kafka         /etc/rc.d/init.d",
"sudo cp /tmp/ami-builder/kafka-broker/server.properties     /usr/local/kafka/config",
"sudo cp /tmp/ami-builder/kafka-broker/rc.local i    /etc/rc.d",
"sudo mkdir /var/log/kafka",
"sudo mkdir /tmp/kafka-logs",
"sudo mkdir /tmp/zookeeper",
"sudo touch  /var/log/kafka/zookeeper.out /var/log/kafka/zookeeper.err /var/log/kafka/kafka.out /var/log/kafka/kafka.err",
"sudo chmod u+x             /etc/rc.d/rc.local",
"sudo chmod u+x             /etc/init.d/zookeeper",
"sudo chmod u+x             /etc/init.d/kafka",
"sudo chmod u+x             /etc/rc.d/init.d/zookeeper",
"sudo chmod u+x             /etc/rc.d/init.d/kafka",
"sudo chmod u+x             /usr/local/kafka/bin/zookeeper-server-start.sh",
"sudo chmod u+x             /usr/local/kafka/bin/kafka-server-start.sh",
"sudo chown kafka:kafka -R  /usr/local/kafka",
"sudo chown kafka:kafka -R  /var/log/kafka",
"sudo chown kafka:kafka -R  /tmp/zookeeper",
"sudo chown kafka:kafka -R  /tmp/kafka-logs",
"service zookeeper start",
"service kafka     start"

      ]
}

