#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# CI
aviator_pipeline.yml

.idea
*.iml
.DS_Store

# local packer manifests
manifest.json
**/packer.json
