{
    "variables": {
        {% if 'artefact_bucket' in event %}
        "ARTEFACT_BUCKET": "{{ event['artefact_bucket'] }}",
        {% endif %}
         {% if 'concourse_version' in event and event['concourse_version']|length > 0  %}
        "CONCOURSE_VERSION": "{{ event['concourse_version'] }}",
        {% endif %}
        "http_proxy": "{% raw %}{{ env `http_proxy` }}{% endraw %}",
        "https_proxy": "{% raw %}{{ env `https_proxy` }}{% endraw %}",
        "no_proxy": "{% raw %}{{ env `NO_PROXY` }}{% endraw %}"
    },
    "builders": [{
      "type": "amazon-ebs",
      "source_ami_filter": {
        "filters": {
          "virtualization-type": "{{ event['source_ami_virt_type'] or 'hvm' }}",
          "name": "{{ event['source_ami_name'] or 'amzn2-ami-hvm-*' }}",
          "root-device-type": "{{ event['source_ami_root_device_type'] or 'ebs' }}",
          "architecture": "x86_64"
        },
        "owners": ["{{ event['source_ami_owner'] or '137112412989' }}"],
        "most_recent": true
      },
      "instance_type": "{{ event['instance_type'] or 't2.micro' }}",
      "iam_instance_profile": "instance_ami_builder",
      "ssh_username": "{{ event['ssh_username'] or 'ec2-user' }}",
      "subnet_id": "{{ event['subnet_id'] }}",
      "ami_name": "{{ event['ami_name'] }}-{{ '{{' }} timestamp {{ '}}' }}",
      "packer_template_key": "{{ event['packer_template_key'] }}",
      {% if 'profile' in event %}
      "profile": "{{ event['profile'] }}",
      {% endif %}
      {% if 'security_group_id' in event %}
      "security_group_id": "{{ event['security_group_id'] }}",
      {% endif %}
      {% if 'ami_regions' in event %}
      "ami_regions": "{{ event['ami_regions'] }}",
      {% endif %}
      {% if 'ami_users' in event %}
      "ami_users": "{{ event['ami_users'] }}",
      "snapshot_users": "{{ event['ami_users'] }}",
      {% endif %}
      "region": "{{ event['region'] }}",
      {% if 'run_tags' in event %}
      "run_tags": {{ event['run_tags']|tojson }},
      {% endif %}
      {% if 'concourse_version' in event and event['concourse_version']|length > 0 %}
      "tags": {
        "Concourse_Version": "{{ event['concourse_version'] }}"
      },
      {% endif %}
      "encrypt_boot": false
    }],
    "provisioners": [
    {% if 'provision_script_keys' in event and event['provision_script_keys']|length > 0 %}
        {
          "type": "file",
          "source": "{{ event['provisioner_type_file_source'] or '/tmp/ami-builder'}}",
          "destination": "{{ event['provisioner_type_file_destination'] or '/tmp/'}}"
        }
        {% for provisioner in event['provision_script_keys'] %}
        ,
        {
          "type": "shell",
          "script": "{{ provisioner }}",
          "environment_vars": [
            "ARTEFACT_BUCKET={% raw %}{{ user `ARTEFACT_BUCKET` }}{% endraw %}",
            "CONCOURSE_VERSION={% raw %}{{ user `CONCOURSE_VERSION` }}{% endraw %}",
            "http_proxy={% raw %}{{ user `http_proxy` }}{% endraw %}",
            "https_proxy={% raw %}{{ user `https_proxy` }}{% endraw %}",
            "no_proxy={% raw %}{{ user `no_proxy` }}{% endraw %}"
            ],
          "use_env_var_file": true,
          "execute_command": "sudo -E sh -eux -c '{% raw %}. {{.EnvVarFile}} && {{.Path}}{% endraw %}'"
        }
        {% endfor %}
    {% endif %}
    {% if 'concourse_version' in event and event['concourse_version']|length > 0 %}
        ,
        {
          "destination": "/tmp/",
          "source": "concourse-release/",
          "type": "file"
        }
    {% endif %}
    ]
}
